@import "./global.scss";

.carouselCard {
  border-radius: 10px !important;
  width: 100%;
  height: 45vh;
  max-height: 450px;

  .image {
    border-radius: 10px !important;
    width: 100%;
    height: 45vh;
    max-height: 450px;
  }
}

@media only screen and #{$breakpoint-mobile} {
  .carouselCard {
   
    height: 20vh;

    .image {
      width: 100%;
      height: 20vh;
    }
  }
}

@media only screen and #{$breakpoint-tablet2} {
  .carouselCard {

    height: 35vh;

    .image {
      width: 100%;
      height: 35vh;
    }
  }
}
