@import 'global.scss';

.title{
    text-align: center;
    @include fontSize(title);
    margin-top: 5vh;
    color: $main-color;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-weight: 300;
}

.mainContainer{
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: 3% auto;
    justify-content: space-around;
    height:250px;
    max-width: 1000px;
    .colContainer{
        width: 50%;
        .subtitle{
            @include fontSize(subtitle);
            color: $black;
            font-weight: 900;
            text-align: center;
        }
        .rrssContainer{
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            height: 38%;
            .emailWhatsapp{
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                text-decoration: none;
                // icons
                img{
                    margin: 0 15px 0 0;
                }
                span{
                    color: $black;
                    transition: 400ms;
                    .break{
                        display: none;
                    }
                }
                &:hover{
                    span{
                        color: $main-color;
                    }
                }
                
            }
            a{
                background:none;
                margin:0 15px 0 0;
                text-decoration: none;
            }
            
            span{
                @include fontSize(subtitle);
                font-weight: 500;
            }
        }
    }
}

//breakpoints needed for this component.

$breakpoint-email-text : "(max-width:900px)";
$breakpoint-mobile-small : "(max-width:460px)";
$breakpoint-mobile-small-2 : "(max-width:300px)";

@media screen and #{$breakpoint-email-text}{
    .break{display:block !important;}
}

@media screen and #{$breakpoint-tablet}{
    .break{display:none !important}

    .mainContainer{
        flex-flow: column nowrap !important;
        align-items: center;
        margin: 10% auto;
        height: 500px;
        
        .colContainer{
            
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
          
            height: 100%;
            width: 60%;
        }
    }
}

@media screen and #{$breakpoint-mobile}{
    
    .mainContainer{
        width: 90%;
        .colContainer{
           width: 60%;
        }
    }
}

@media screen and #{$breakpoint-mobile-small}{
    .break{
        display: block !important;
    }
    .emailWhatsapp{
        justify-content: center;
    }
    .mainContainer{
        .colContainer{
            width: 80%;
        }
    }
}

@media screen and #{$breakpoint-mobile-small-2}{
    
    .mainContainer{
        height: 100%;
        min-height: 500px;
        .colContainer{
            align-items: center;
            
            height: 100%;
            min-height: 250px;
            justify-content: space-around;
           .rrssContainer{
               flex-flow: row wrap !important;
               justify-content: center;
               text-align: center;
               margin: 30px 0;
               img{
                   margin: auto;
               }
               .emailWhatsapp{
                   
                flex-flow: column nowrap !important ;
                text-align: center;
                img{
                    margin: 0;
                }
                
                .hiddenMobile{
                    display: none;
                }
             }
           }
        }
    }
}
