@import './global.scss';

.maincontainer {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  min-height: 50vh;
  background-color: $background-color;
  box-shadow: 0 -5px 10px -5px $black;
  height: fit-content;
 
  .titles {
    text-align: center;
    font-family: "Century";
    color: $black;
    @include fontSize(title)
  }
  /* 
  * the maincontainer has 3 containers:
  * logo, icons and a small text 
  * links
  * contact form
  */ 
  .colcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-top: 2%;
    width: 28%;

    // Styling 1st container (Logo, icons and a small text)
    .logo {
      width: 45%;
      min-width: 200px;
      
    }
    .informativetext {
      @include fontSize(text);
      font-family: "Century";
      color: $black;
      width: 120%;

    }
    a {
      .whatsapp,
      .email {
        display: flex;
        flex-flow: row nowrap;
        cursor: pointer;
        align-items: center;
        justify-content: flex-start;
        width: 120%;
        
        .footericon { 
          margin-right: 4%;
         }
        span {
          z-index: 10;
          color: $black;
          @include fontSize(text);
          font-family: "Century";
          font-weight: bold;
          transition: 400ms;
        }
        &:hover{
          span{
            color:$main-color;
          }
        }
      }
    }
    li {
      cursor: pointer;
      a {
        transition: 400ms;
        font-family: "Century";
        @include fontSize(subtitle);
        color: $black;
        font-weight: 900;
        margin-left: -3%;
        z-index: 10;
      }
      img{
        transition: 400ms;
    
      }
      &:hover{
        img{
          transform: translateX(15%);
        }
        a{
          color: $main-color;
        }
      }
    }
  }
  
  .rowcontainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
.break {
  display: none;
}
// Styling 2nd container (Links)

.linklist {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  height: 85%;
}





// Styling 3rd container (contact form), advice and send button with flexbox

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  
  input,
  textarea {
    resize: none;
    border: solid 3px $main-color;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    width: 88%;
    margin-top: 5%;
    @include fontSize(text);

    &:focus {
      outline: none;
    }
    &::placeholder {
      font-weight: normal;
      color: #a39999;
      font-size: 18px;
    }
  }
  .fieldscontainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    
    
  
    
    
    
    .emailfield {
      height:50px;
      
    }
    .messagefield {
      padding-top: 2%;
      height: 68%;
      
    }
  }
  .rowcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center !important;
    height: 20%;
    
   

    .advice {
      p {
        font-size: 11px;
        span {
          color: $main-color;
        }
      }
    }

    button {
      cursor: pointer;
      border: none;
      color: $background-color;
      font-family: "Century";
      font-weight: 600;
      background-color: #d11149;
      box-shadow: 2px 2px 5px rgba(68, 68, 68, 0.25);
      border-radius: 30px;
      min-width: 100px;
      min-height: 30px;
      line-height: 25px;
      letter-spacing: 1px;
      transition: 400ms;
      outline: none;
      margin-top: 2%;
      &:hover{
        color: $main-color;
        background-color: $background-color;
        border: solid 2px $main-color;
      }
    }
  }
}


// Ended the styling from Desktop  

// Creating breakpoints for mobile other devices.

$breakpoint-form-advice: 1012px;

$breakpoint-change-font-size: 826px;


// Main breakpoint for mobile. 

@media screen and #{$breakpoint-mobile} {

// hidding the contact form in mobile devices
  .maincontainer div:nth-child(3) {
    display: none;
  }
  .maincontainer div:nth-child(2) {
    margin-top: 5%;
  }

// Styling the maincontainer (1 column in mobile)
  .maincontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: fit-content;
  
    .colcontainer {
      width: 70%;
      height: 100%;
      align-items: center;
// Styling 1st container (logo and icons)
      .informativetext {
        text-align: center;
      }
    }
  }
  .logo {
    min-width: 120px !important;
  }
  .whatsapp,
  .email {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 15% 0px;
    img {
      color: $black;
    }
    span {
      display: none;
    }
  }

  .break {
    display: none !important;
  }
}

@media screen and (max-width:820px){

  .break{
    display:block;
  }
}

@media screen and #{$breakpoint-high-height-devices} {
  .maincontainer{
    height: 30vh;
  }
}




@media screen and (max-width: $breakpoint-form-advice) {
  form {
    .rowcontainer {
      display: flex !important;
      flex-flow: column nowrap !important;
      align-items: flex-end !important;
      justify-content: space-between !important;
    }
    .advice {
      p {
        font-size:8px;
      }
    }
  }
}
