@import "./../styles/global.scss";

.maincontainer {
  user-select: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 100%;
  min-height: 60vh;
  background-color: $white;
  .titles {
    text-align: center;
    font-family: "Century";
    color: $black;
    font-size: 27px;
  }
  /* 
  * the maincontainer has 3 containers:
  * logo, icons and a small text 
  * links
  * contact form
  */ 
  .colcontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    margin-top: 1%;
    width: 28%;

    // Styling 1st container (Logo, icons and a small text)
    .logo {
      width: 45%;
      min-width: 200px;
    }
    .informativetext {
      font-size: 24px;
      font-family: "Century";
      color: $black;
      width: 120%;
    }
    a {
      .whatsapp,
      .email {
        display: flex;
        flex-flow: row nowrap;
        cursor: pointer;
        align-items: center;
        justify-content: flex-start;
        width: 120%;
        
        .footericon { 
          margin-right: 4%;
          transition: 400ms;
          filter: invert(15%) sepia(100%) saturate(3586%) hue-rotate(332deg) brightness(86%) contrast(98%);
        }
        span {
          color: $black;
          font-size: 26px;
          font-family: "Century";
          font-weight: bold;
          transition: 400ms;
        }
        &:hover{
          span{
            color:$crimson;
          }
        }
      }
    }
  }
  
  .rowcontainer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
  }
}
.break {
  display: none;
}
// Styling 2nd container (Links)

.linklist {
  list-style-type: none;
  margin: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  
  height: 85%;
}


li {
  cursor: pointer;
  span {
    transition: 400ms;
    font-family: "Century";
    font-size: 24px;
    font-weight: 800;
    margin-left: -3%;
  }
  img{
    transition: 400ms;

  }
  &:hover{
    img{
      transform: translateX(15%);
    }
    span{
      color: $crimson;
    }
  }
}


// Styling 3rd container (contact form), advice and send button with flexbox

form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  input,
  textarea {
    resize: none;
    border: solid 2px $crimson;
    border-radius: 30px;
    padding-left: 5%;
    padding-right: 5%;
    overflow: hidden;
    width: 80%;
    margin-top: 5%;
    font-size: 20px;

    &:focus {
      outline: none;
    }
    &::placeholder {
      font-weight: normal;
      color: #a39999;
    }
  }
  .fieldscontainer {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    .emailfield {
      min-height: 13%;
    }
    .messagefield {
      padding-top: 1%;
      min-height: 70%;
    }
  }
  .rowcontainer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start !important;
    height: 20%;
    padding-left: 5%;
    padding-right: 5%;

    .advice {
      p {
        font-size: 10px;
        span {
          color: $crimson;
        }
      }
    }

    button {
      cursor: pointer;
      border: none;
      color: white;
      font-family: "Century";
      font-weight: 600;
      background-color: #d11149;
      box-shadow: 2px 2px 5px rgba(68, 68, 68, 0.25);
      border-radius: 30px;
      min-width: 100px;
      min-height: 30px;
      line-height: 25px;
      letter-spacing: 1px;
      transition: 400ms;
      &:hover{
        color: $crimson;
        background-color: $white;
        border: solid 2px $crimson;
      }
    }
  }
}


// Ended the styling from Desktop  

// Creating breakpoints for mobile other devices.

$breakpoint-mobile: 576px;
$breakpoint-form-advice: 1012px;
$breakpoint-aweb4devs-email-text: 1100px;
$breakpoint-hidden-email-number-texts: 229px;
$breakpoint-change-font-size: 826px;


// Main breakpoint for mobile. 

@media (max-width: $breakpoint-mobile) {

// hidding the contact form in mobile devices
  .maincontainer div:nth-child(3) {
    display: none;
  }
  .maincontainer div:nth-child(2) {
    margin-top: 5%;
  }

// Styling the maincontainer (1 column in mobile)
  .maincontainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  
    .colcontainer {
      width: 70%;
      height: 100%;
      align-items: center;
// Styling 1st container (logo and icons)
      .informativetext {
        text-align: center;
      }
    }
  }
  .logo {
    min-width: 100px;
  }
  .whatsapp,
  .email {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-right: 15% 0px;
    img {
      color: $black;
    }
    span {
      display: none;
    }
  }

  .break {
    display: none !important;
  }
}

@media screen and (max-width: $breakpoint-aweb4devs-email-text) {
  .break {
    display: block;
  }
}

@media screen and (max-width: $breakpoint-hidden-email-number-texts) {
  .linklist {
    margin-left: -4vh;
  }
}

@media (max-width: $breakpoint-change-font-size) {
  .maincontainer {
    .colcontainer {
      .linklist {
        padding-left: 15%;
        span {
          font-size: 20px;
        }
      }
      .email,
      .whatsapp {
        span {
          font-size: 20px !important;
        }
      }
    }
  }

  .informativetext {
    font-size: 20px !important;
  }
  input,
  textarea {
    font-size: 18px;
  }
}

@media (max-width: $breakpoint-form-advice) {
  form {
    .rowcontainer {
      display: flex !important;
      flex-flow: column nowrap !important;
      align-items: flex-end !important;
      justify-content: space-between !important;
    }
    .advice {
      p {
        width: 100%;
      }
    }
  }
}
