@import "./global.scss";

.maincontainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  height: 85vh;
  padding-top: 3vh;
  width: 88%;
  margin: auto;
  background-color: $background-color;
  .subcontainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
  }
  .title {
    @include fontSize(title);
    text-align: center;
    color: $black;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    padding: 3% 0 1%;
  }
  .rowcontainer {
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    .container50width {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.4%;
      margin-left: 1.4%;
    }
  }
}

/* Less padding to the first news container (order 1 in this case)*/

.lessPadding {
  padding-top: 0;
  height: 88vh;
}

/*

  order0 and order1 classes are implemented to the first column to 
  generate a different structure

*/
.order0 {
  order: 0;
}

.order1 {
  order: 1;
}

.colcontainer {
  display: flex;
  flex-flow: column nowrap;
  width: 40%;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

//Media Queries

//Tablet devices

@media screen and #{$breakpoint-tablet} {
  .maincontainer {
    height: 180vh;
    .rowcontainer {
      display: flex;
      flex-flow: column nowrap;
      .container50width {
        order: -1;
        align-self: center;
        width: 100%;
        height: 160%;
      }
      .colcontainer {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
      }
    }
  }
}

// Mobile Devices

@media screen and #{$breakpoint-mobile} {
  .maincontainer {
    // height: 300vh;
    .rowcontainer {
      .container50width {
        order: -1;
        align-self: center;
        // width: 100%;
        // height: 60%;
      }
      // .colcontainer {
      //   display: flex;
      //   flex-flow: column nowrap;
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }
}
@media screen and #{$breakpoint-high-height-devices} {
  .maincontainer {
    height: 50vh;
  }
}
