@import "./global.scss";

.mainContainer{
    padding: 5%;
    padding-top: 4%;
    min-height: 85vh;
    
    span{
        @include fontSize(text);
        margin-left: 6%;
        margin-bottom: 2%;
    }
    .container{
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        
    }

    .noResults{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img{
            width: 350px;
        }


        span{
            
        @include fontSize(subtitle);
        }
    }

}