@import "./global.scss";

.smallcard {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  width: 72%;
  height: 43%;
  transition: 400ms;
  filter: drop-shadow(-4px -4px 8px rgba(68, 68, 68, 0.25))
    drop-shadow(4px 4px 8px rgba(68, 68, 68, 0.25));
 

  &:hover {
    transform: scale(1.1);
  }
  .articletitle {
    text-align: center;
    background: none;
    color: $background-color;
    @include fontSize(text);
    font-weight: 900;
  }
  .morebutton {
    max-width: 38%;
    min-width: 70px;
    margin: 6% 0;
    background-color: $main-color;
    color: white;
    border: none;
    border-radius: 30px;
    height: 10%;
    transition: 200ms;
    outline: none;
    &:hover {
      cursor: pointer;
      color: $main-color;
      background-color: $background-color;
      border: solid 2px $main-color;
    }
  }
}

@media screen and #{$breakpoint-tablet} {
  .smallcard {
    width: 42%;
    height: 90%;
  }
}
@media screen and #{$breakpoint-mobile} {
  .smallcard {
    width: 92.5%;
    height: 47%;
    &:hover {
      transform: none;
    }
  }
}
